.select-form-group {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 95px);
  margin-top: 15px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 110px);
  }
}

.select-form-button {
  --select-form-color: red;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;

  box-sizing: border-box;
  height: 95px;

  border: 1px solid var(--select-form-color-alt);
  border-radius: 4px;
  background-color: var(--select-form-color-alt);
  text-align: center;
  cursor: pointer;
  color: black !important;

  transition: box-shadow 0.2s ease, transform 0.2s ease, filter 0.2s ease;

  &[data-active="true"] {
    box-shadow: 0 0 0 5px
        color-mix(in srgb, var(--select-form-color) 35%, transparent),
      0 4px 10px color-mix(in srgb, var(--select-form-color) 40%, transparent);
    background-color: var(--select-form-color);
    transform: translateY(-2px);
  }

  & img {
    width: 32px;
    height: 32px;
    filter: brightness(0);
    margin-bottom: 8px;
  }

  @media (min-width: 1024px) {
    height: 110px;
    font-size: 16px;
  }
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 100%;

  & img {
    width: 22px;
    height: 22px;
  }
}
