@use "@styles/variables/colors";
@import "@styles/mixins/media";

$topHeaderColor: #595855;

.nav__logo {
  height: 60px;
}

.header {
  display: none;

  @include for-desktop {
    display: block;
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: white;
    width: 100%;
  }

  &--sticky {
    position: fixed;
    width: 100%;
    top: 0;
    animation: smoothScroll 0.5s forwards;
    z-index: 9;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    .nav {
      padding-bottom: 10px;
    }

    .top-header {
      padding-block: 15px;
    }

    .nav__logo {
      height: 70px;
    }
  }
}

.top-header {
  // padding-top: 32px;

  padding-block: 12px;

  &__search-container {
    width: 348px;
  }

  &__container {
    display: flex;
    // justify-content: space-between;
    gap: 40px;
    align-items: center;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__left {
    display: flex;
    gap: 13px;
    flex-shrink: 0;
  }

  &__links {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
    align-items: center;
  }

  &__right {
    margin-left: auto;
    text-align: right;
  }

  &__phone {
    font-size: 22px;
    font-weight: bold;
  }

  &__link {
    font-size: 16px;
    // color: colors.$primary;

    &:hover {
      opacity: 0.6;
    }

    &--with-icon {
      font-size: 11.5px;
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 22px;
}

.logo-quote {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

.top-header-icon {
  width: 16px;
  height: 16px;

  &--action {
    width: 22px;
    height: 22px;
  }
}

.nav {
  background-color: #d1d3d4;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    // gap: 48px;
  }
}

.categoryLink {
  padding: 10px 15px;
  display: block;
}

.categoryLink:hover {
  background-color: var(--primaryCategoryColor);
  color: unset;
  font-size: 16px;
}

.nav-category-item {
  text-align: center;
  position: relative;

  &:hover {
    color: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 25px;
    // background-color: red;
  }

  &:hover .nav-dropdown {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translate(-50%) translateY(0);
  }

  &__title {
    margin-top: 10px;
  }
}

.nav-dropdown {
  display: flex;
  width: max-content;

  position: absolute;
  top: calc(100% + 5px);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%) translateY(0);

  left: 50%;

  background-color: white;
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  border: 1px solid rgba(100, 100, 111, 0.2);
  text-align: left;

  &__list {
    padding: 0;
    list-style: none;
    padding-block: 12px;
    padding-inline: 15px;
    max-width: 280px;
    min-width: 240px;
    flex-shrink: 0;
  }

  &__nav-item {
    margin-top: 12px;

    &:first-child {
      margin-top: 0px;
    }
  }

  &__nav-link {
    font-size: 14px;
    display: inline-block;
  }

  &__image {
    border-left: 1px solid rgba(100, 100, 111, 0.2);
    width: 320px;
    padding-block: 12px;
    padding-inline: 15px;
    text-align: center;
    flex-shrink: 0;
    gap: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & img {
      max-width: 100%;
      border-radius: 5px;

      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
    }
  }
}

.location {
  font-size: 13px;
}

.mail {
  font-size: 13px;
  margin-left: 10px;
}

.phoneIcon {
  width: 24px;
  height: 24px;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(0px);
  }
}
