.badge-category {
  display: inline-block;
  background-color: var(--alternativeCategoryColor);
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 16px;

  &--sm {
    font-family: "Lexend", sans-serif;
    font-size: 12px;
  }

  &--lg {
    font-family: "Myriad Pro";
    font-size: 22px;
  }

  &:hover,
  &--active {
    background-color: var(--primaryCategoryColor);
    color: black !important;
  }
}
