.dropdown-content-menu {
  background-color: white;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 220px;
  display: flex;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #f0f2f5;
  transition: 0.3s;
  top: 130%;
}

.dropdown-content-menu a {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  font-size: 16px;
  color: #103178;
  text-align: left;
}

.dropdown-content-menu a:first-child {
  padding-top: 0px;
}

.dropdown-content-menu a:hover {
  color: #fd8d27;
  transform: translateX(5px);
}

.ps-category__link--active {
  color: #fd8d27;
}

.has-dropdown {
  position: relative;
}

.has-dropdown:hover .dropdown-content-menu {
  display: flex;
  visibility: visible;
  opacity: 1;
  top: 100%;
}
