@use "@styles/variables/colors";

.product-name {
  font-size: 38px;
  font-weight: 400;
  margin-top: 25px;
}

.product-description-preview {
  font-size: 18px;
  font-weight: 400;
  color: colors.$black;

  margin-bottom: 0;
}

.product-rating-container {
  margin-top: 22px;
  margin-bottom: 26px;
}
