@use "@styles/mixins/media";

.root {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: white;
  padding: 5px;
  display: none;

  @include media.below-tablet {
    display: block;
  }
}
