@use "@styles/mixins/media";

.section {
  background-color: transparent;

  &__alt {
    background-color: rgb(249, 249, 249);
  }
}

.heading-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 35px;
}

.heading {
  &__title {
    font-weight: bold;
    font-size: 42px;

    @include media.below-mobile {
      font-size: 28px;
    }
  }

  &__description {
    opacity: 0.9;
  }
}
