@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  /* display: none; */
}
.headless-bg {
  background-color: rgba(0, 0, 0, 0.255);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.headless-popup {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  width: 900px;
  position: relative;
}

.ps-gallery--image {
  display: block !important;
}

.ps-product__thumbnail {
  display: block !important;
}

.images-headless {
  height: 100%;
  flex: 50%;
  background-color: red;
  /* position: absolute; */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.headless-content {
  padding: 24px;
}

.headless-content .product_modal_title {
  font-size: 55px;
  padding: 0;
  margin: 0;
}

.headless-content .product_modal_price {
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.headless-content .product_modal_desc {
  font-size: 14px;
  font-weight: 400;
}

.headless-content .product-variant {
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
}

.headless-content .active {
  border: 2px solid #fd8d27;
}

.headless-content .add-to-cart {
  width: 100%;
  height: 50px;
  background-color: red;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-top: 30px;
}

.headless-content .product-variant:first-child {
  margin-left: 0px;
}

.headless-content .product-variant h5,
h6 {
  margin: 0px;
}

.product-variants-container {
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
}

.overlay-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button:disabled,
.custom-button[disabled] {
  background-color: #f0f2f5 !important;
  color: #5b6c8f !important;
  border-color: #f0f2f5 !important;
}

.cust-padding {
  padding-left: 15px !important;
}

.cust-padding:first-child {
  padding-left: 0px !important;
}
