.modal-root {
  position: relative;
  z-index: 50;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  overflow-y: auto;

  &__content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__content {
    background-color: white;
    border-radius: 5px;
    padding-block: 35px;
    padding-inline: 25px;
    position: relative;
  }

  &__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.379);
  }
}

.close-button {
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
  border: unset;
  font-size: 22px;
  cursor: pointer;
}
